DJANGO_SECRET_KEY=change-me-super-secret-key
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=vv1zard3x.com,www.vv1zard3x.com,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://vv1zard3x.com:8080,http://www.vv1zard3x.com:8080
